html{
    width: 100%;
    overflow-x: hidden;
}
* {
    font-family: 'Quicksand';
}

#logo {
    padding: 0;
    margin: 0;
    padding-top: 2px;
}

body {
    margin: 0;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    position: relative;
    

}

.header {
    width: 100%;
    background-image: url("img/headerPattern.png");
    background-color: black;
    padding-left: 20px;
    padding-top: 2px;

    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000000000;
}

#profile-photo {
    width: 30px;
    border-radius: 50px;
    border: 1px solid #16c079;
    margin-bottom: -5px;
}

.nav-bar {
    list-style-type: none;
    margin-left: auto;
    margin-top: 0px;
    padding-right: 40px;
    margin-bottom: 15px;
}

.nav-list {
    display: inline;
    padding: 10px;
    color: #16c079;
    font-family: 'Quicksand';
    font-weight: 700;
    position: relative;
    margin-bottom: -15px;
}

.alert-image {
    margin-bottom: -9px;
}

.selected {
    color: white;
    border-bottom: 5px solid white;
}

span.count {
    background-color: blue;
    position: absolute;
    top: 0px;
    right: 2px;
    padding: 2px 7px;
    border-radius: 51%;
    color: white;
    font-size: 11px;
}

span.profile {
    color: black;
    background-color: white;
    position: absolute;
    top: 6px;
    right: 3px;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 10px;
}

.courses-classes {
    background-color: #8DDC97;
    display: flex;
    justify-content: center;
    margin: 20px;

}



.courses,
.classes {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;

}

.selected-courses-classes {
    border-bottom: 3px solid black;
}

.course-class-image{
    height: 43px;
    width: 45px;
    top: 10;
    margin-top: 10px;
}

.pad5 {
    padding: 0 5px;
}

#number {
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.text-count {
    font-size: 15px;
}

.course-card {
    display: flex;
    min-height: 176px;


}

.course-actions {
    border-top: 1px solid rgb(236, 233, 233);
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    margin-top: 15px;

}

.course-actions img {
    cursor: pointer;
}

.blured {

    filter: opacity(50%);
    cursor: not-allowed !important;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.course-wrapper {
    width: 540px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    padding-bottom: 2px;
    position: relative;


}

.course-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;


}

.course-name {
    font-weight: 700;
    margin-top: -8px;
    flex: 1;
    font-size: large;

}

.subject-grade {
    margin-top: -8px;
    font-size: small;

}

.greencolor {
    color: #046b40;
}

.sylabus {
    margin-top: -8px;
    font-size: small;
}

.teacher {
    border-style: none;
    border-bottom: black 1px solid;
    max-width: 400px;
    font-weight: 700;
    font-size: large;
    flex-grow: 1;

}

.Scount-Date {
    margin-top: 2px;
    font-size: small;

}

.star {
    float: right;
    position: absolute;
    top: 11px;
    right: 14px;
    cursor: pointer;
}

.footer-font {
    font-family: 'Quicksand';
    font-weight: 400;
    padding: 0 10px;

}

.footer-name {
    font-family: 'Quicksand';
    font-weight: 600;

}

.footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #E0E1E1;


}

.About {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.greencolor-foot {
    color: #1F7A54;
    padding: 0 10px;
    font-family: 'Quicksand';
    font-weight: 600;
}

.expired {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 10px;
    color: red;
    font-weight: 700;
    background-color: rgb(255, 213, 213);
    padding: 2px;


}


.text-c {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-bottom: grey 1px solid;
    align-items: end;
    flex: 1;

}

.sort {
    padding: 15px;
}

.sort-dropdown {
    border: none;
    border-bottom: 1px solid grey;
    background: none;
    width: 170px;
    font-weight: 700;
    font-size: 17px;

}

.sort-image {
    padding: 0 5px;
}

.nav {
    display: flex;
    align-items: end;

}

.nav-icons {
    display: flex;
    flex-wrap: nowrap;
    align-items: end;

}

.ham {
    display: none;
}

@media screen and (max-width: 840px) {
    .ham {
        display: block;
    }

    .topNav {
        display: none;
    }

    .header {
        border-bottom: 2px solid rgb(0, 227, 243);
    }
}

a {
    text-decoration: none;
    color: inherit;

}

.navbar-nav {
    padding: 2px;
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 280px;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 1;
    color: #1F7A54;
    font-weight: 600;
    font-size: 15px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 13px 20px #0000003D;
    border-radius: 2px;
    opacity: 1;

}

.navbar-nav ul {
    list-style: none;
    padding-left: 0px;
}
.hide{
    display: none;

}

.nav-item {
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.nav-item ul li {
    padding: 10px;
}

.dropdown-arrow{
    text-align: left;
    position:absolute ;
    right: 24px;
    top: 20px;
}

.nav-item:hover {
    background-color: #F3F3F3;
    color: #1F7A54;
}
/*
.alerts{
    background-color: white;
    
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 558px;
    top: 40px;
    right: 16px;
    z-index: 1;
    position: absolute;
    color: #1F7A54;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 13px 20px #0000003D;
    border-radius: 2px;
    opacity: 1;
    overflow-y: scroll;


}
.alerts::-webkit-scrollbar {
    width: 5px;
  }

.alerts ul{
    list-style: none;
    padding: 0px ;
    margin: 0px;
}

*/














.alerts {
    -webkit-box-shadow: 0px 1px 6px #0000003d;
            box-shadow: 0px 1px 6px #0000003d;
    position: absolute;
    background: #fff;
    width: 315px;
    top: 46px;
    right: 0px;
    z-index: 1000;
    padding: 0;
    height: 558px;
  }
  
 


.alerts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 580px;
    overflow-y: scroll;
    position: relative;
    margin-bottom: 48px;
  }
  .alerts ul::-webkit-scrollbar {
    width: 5px;
  }
.alerts ul li {
    position: relative;
    border: 1px solid #2222221F;
    padding: 16px;
  }
  
.checkmark {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 15px;
    height: 15px;
    background-image: url(files/icons/roundcheck.png);
    background-size: cover;
  }
  
.checkmark.abort {
    background-image: url(files/icons/minus.png);
    width: 16px;
  }
  
.alerts ul li p {
    margin: 0px 0px 8px 0px;

  }
  .alert-course{
    color: #6E6E6E;
    font-size: 12px;

  }
  
.li-alert-subject  {
    color: #222222 !important;
    font-weight: 600 !important;
  }
  
.alert-title {
    font-weight: 600;
    font-size: 14px;
    color: #222222 !important;
    padding-right: 24px !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
 .date {
    color: #6E6E6E !important;
    font-size: 12px !important;
    text-align: right !important;
    margin: 0;
  }
  
.preview-alerts {
    position: absolute;
    bottom: 0;
    width: 100%;
    width: 100%;
    border: 0;
    background: #fff !important;
    color: #1F7A54 !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    -webkit-box-shadow: 0px 1px 6px #0000003d;
            box-shadow: 0px 1px 6px #0000003d;
    border-radius: 0px 0px 2px 2px;
    padding: 16px;
    cursor: pointer;
  }



/*-------------*/

.announcements {
    -webkit-box-shadow: 0px 1px 6px #0000003d;
            box-shadow: 0px 1px 6px #0000003d;
    position: absolute;
    background: #fff;
    width: 315px;
    height: 573px;
    top: 44px;
    right: 0px;
    z-index: 1000;
    padding: 0;
  }
  
.announcements.hide {
    display: none;
  }
  
.announcements ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 580px;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 48px;
  }
  .announcements ul::-webkit-scrollbar {
    width: 5px;
  }
.announcements ul li {
    position: relative;
    border: 1px solid #2222221F;
    padding: 16px;
  }
  
.announcements ul li p {
    margin: 0px 0px 8px 0px;
  }
  
 .checkmark {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 15px;
    height: 15px;
    background-image: url(files/icons/roundcheck.png);
    background-size: cover;
  }
  
 .abort {
    background-image: url(files/icons/minus.png);
    width: 16px;
  }
  
  .user {
    font-size: 12px;
    font-weight: 500;
    color: #6E6E6E;
  }
  
.user span {
    color: #000;
  }
  
.announcement-title {
    font-weight: 600;
    font-size: 14px;
    color: #222222;
  }
  
.date-panel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
 .attachments img {
    width: 8px;
    height: 10px;
  }
  
 .date {
    margin-left: auto;
  }
  
  .preview-announcements,.create-announcements {
    position: absolute;
    bottom: 0;
    width: 50%;
    border: 0;
    background: #fff;
    color: #1F7A54;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 1px 6px #0000003d;
            box-shadow: 0px 1px 6px #0000003d;
    border-radius: 0px 0px 2px 2px;
    padding: 16px;
    cursor: pointer;
  }
  
 .create-announcements {
    right: 0;
  }
  .attachments{
    color: #6E6E6E !important;
    font-size: 12px !important;

  }
 